*{
    padding: 0;
    text-align: center;
    background-color: rgb(207, 239, 238);
}
body{
    padding-top: 25px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#res{
    font-size: 25px;
}
input{
    font-size: 20px;
}
footer{
    padding-top: 20em;
}